################################################################################
#
# 1) Copy this file to the /etc/systemd/system directory
# 2) Edit the PYTHONPATH path
# 3) Edit the ExecStart statement
# 4) Run the command "systemctl daemon-reload". This needs to be run only once
# 5) Run the command "systemctl start switchmap-ng.service" to start
# 6) Run the command "systemctl stop switchmap-ng.service" to stop
# 7) Run the command "systemctl restart switchmap-ng.service" to restart
# 8) Run the command "systemctl enable switchmap-ng.service" to make switchmap-ng
#    start automatically on boot
#
################################################################################
[Unit]
Description=switchmap-ng: Network state SNMP poller

[Service]
User=switchmap-ng
Group=switchmap-ng
Environment=PYTHONPATH=/home/switchmap-ng START=--start "STOP=--stop --force" "RESTART=--restart --force"
ExecStart=
ExecStart=/home/switchmap-ng/bin/systemd/switchmap-ng-poller $START
ExecStop=/home/switchmap-ng/bin/systemd/switchmap-ng-poller $STOP
ExecReload=/home/switchmap-ng/bin/systemd/switchmap-ng-poller $RESTART
RemainAfterExit=yes
GuessMainPID=yes
Type=forking

[Install]
WantedBy=default.target
