################################################################################
#
# READ ALL STEPS BEFORE PROCEEDING
#
# 1) Copy this file to one of these directories depending on your Linux version
#        i.  RedHat variants: /usr/lib/systemd/system/
#        ii. Debian/Ubuntu variants: /lib/systemd/system/
# 2) Edit the CODEROOT path to be the full path switchmap code's root directory
# 3) Edit the SWITCHMAP_CONFIGDIR path to be the full path configuration file 
#    directory. This defaults to etc/ directory of the switchmap code base
# 4) Edit the User and Group to match the POSIX user you want the daemon
#    to run as.
# 5) Run the command "sudo systemctl daemon-reload". This needs to be run only once
# 6) Run the command "sudo systemctl start switchmap_dashboard.service" to start
# 7) Run the command "sudo systemctl stop switchmap_dashboard.service" to stop
# 8) Run the command "sudo systemctl restart switchmap_dashboard.service" to restart
# 9) Run the command "sudo systemctl enable switchmap_dashboard.service" to make
#    switchmap_dashboard start automatically on boot
#
################################################################################

[Unit]
Description=switchmap_dashboard: Network state web application

[Service]
User=switchmap
Group=switchmap
Environment=CODEROOT=/home/switchmap-ng
Environment=SWITCHMAP_CONFIGDIR=

################################################################################
# No need to edit anything below here
################################################################################

Environment=VIRTUAL_ENV=$CODEROOT/venv/bin
Environment=PATH=$CODEROOT/venv/bin:$PATH 
Environment=START=--start "STOP=--stop --force" "RESTART=--restart --force"
ExecStart=
ExecStart=/bin/bash -c '${VIRTUAL_ENV}/python3 ${CODEROOT}/bin/systemd/switchmap_dashboard $START'
ExecStop=/bin/bash -c '${VIRTUAL_ENV}/python3 ${CODEROOT}/bin/systemd/switchmap_dashboard $STOP'
ExecReload=/bin/bash -c '${VIRTUAL_ENV}/python3 ${CODEROOT}/bin/systemd/switchmap_dashboard $RESTART'
RemainAfterExit=yes
GuessMainPID=yes
Type=forking
RuntimeDirectory=switchmap

[Install]
WantedBy=default.target
