.sidebar {
        top: 0;
        left: 0;
        width: 240px;
        height: 100vh;
        padding: 2rem 1rem;
        position: sticky;
        border-right: 1px solid var(--border-color);
}

.dashboardLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
}

.titleContainer {
        display: flex;
        flex-direction: row;
        gap: 1rem;
}

.pageContainer {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow-y: hidden;
}

.deviceSection {
        height: 100vh;
        margin-bottom: 2rem;
        padding: 2rem;
}