.sidebar{
        top: 0;
        left: 0;
        width: 240px;
        height: 100vh;
        padding: 2rem 1rem;
        position: sticky;
        border-right: 1px solid var(--border-color);
}
.dashboard-link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
}
.title-container{
        display: flex;
        flex-direction: row;
        gap: 1rem;
}

.container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        overflow-y: hidden;
}
.device-section{
         height: 100vh;
         margin-bottom: 2rem;
         padding: 2rem;
}