# Miscellaneous
PyYAML==6.0

# Flask Web Server
Flask==2.0.3
Flask-Table==0.5.0
Flask-Testing==0.8.1
Werkzeug==2.2.2
gunicorn==20.0.4

# Posting
requests

# Polling
easysnmp==0.2.5

# Data and Database
pymysql==1.0.2
SQLAlchemy==1.4.31
pandas==1.5.3

# GraphQL interface for Flask
git+https://github.com/graphql-python/graphene-sqlalchemy.git@refs/pull/378/merge
graphql_server==3.0.0b5

# Testing
mock