.devicePage{
    display: flex;
    height: 100vh;
}
.sidebar{
    transition: width 0.2s;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 8px 0px;
}
.sidebarHeader{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width:95%;
    align-self: flex-end;
    margin-bottom: 2rem;
}
.sidebarHeaderCollapsed{
    display: flex;
    flex-direction: column;
    gap: 1rem;;
    margin-bottom: 2rem;
}
.sidebarToggle{
    margin: 8px 0;
    padding-right: 0;
    padding-left: 0;
    background: none;
    font-size: 1.2rem;
    align-self: center;
}
.deviceName{
    padding: 12px 15px;
    font-size: 1.2rem;
    width: 80%;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
}
.deviceNameCollapsed{
    display: none;
}
.tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tabButton {
    background: none;
    padding: 12px 15px;
    font-weight: 400;
    text-align: left;
    font-size: 1rem;
}
.tabContent{
    display: flex;
    flex-direction: row;
    gap:1rem;
}

.activeTab {
    background: var(--select-bg);
}
.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.homeButton {
    position: absolute;
    top: 16px;
    right: 24px;
    background: none;
    font-size: 1.2rem;
}

.tabSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
